*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.menu{
    list-style: none;
    padding: 0;
    background-color: #383636
    
}
.menu li{
    display: inline;
    
}

.menu li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    border-radius: 20px;
    
}

.menu li a:hover{
    background-color: #861ec2;
}

.menu ul li:last-child a{
    background-color: #861ec2;
    float: right;
}

.informacoes h1{
	color: #FFFFFF;
    text-align: center;
}

.texto p{
	color: #FFFFFF;
    text-align: center;
}

.fotos img{
	border: 5px solid #FFFFFF;
	border-radius: 15px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

body {
	background-repeat: no-repeat;
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(134,30,194,1) 55%, rgba(0,212,255,1) 100%);
}

#imagem-ana {
	border-radius: 15px;
	color: #000000;
}

.texto-apresentacao {
	color: #FFFFFF;
}
